body {
    display: flex;
    flex-direction: column;
}

.buttons {
    margin: 20px 0 20px 20px;
}

div {
    margin-bottom: 20px;
    margin-left: 20px;
}

#score {
    display: flex;
    flex-direction: row;
}
